
@import 'tools';
@import 'fonts';
@import 'mixins';

$sans: 'Andika', sans-serif;
$serif: 'Pridi', serif;
$monospace: monospace;
$primary-color: #08306b;
$secondary-color: #3182bd;
$complementary: #A26600;
$bg-color: #fffff8;

html{
  font-size: 2.5em;
}

body {
  background-color: $bg-color;
  color: #444;
  font-weight: 400;
  font-family: $sans;
  line-height: 1.4em;
  letter-spacing: -.02em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
  padding: 0;
  margin: 0;
  width: 100%;
}

#patient {
  margin: 1em;
}

#create {
  width: 100%;
}

/***********************************************************************
 *   Tables
 */

table {
  margin-top: 1em;
  max-width: 95%;
  tr {
    border-bottom: 1px dotted gray;
  }
  thead tr {
    font-weight: 600;
    font-family: $serif;
    border-bottom: 1px solid black;
  }
  td {
    vertical-align: top;
    margin-left: 1em;
    padding-right: 1em;
    li {
      text-indent: .1em;
      padding-right: .7em;
    }
  }
}


/***********************************************************************
 *   Images
 */

img {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
}

.left, .right, {
  float: left;
  max-width: 30%;
  display: inline-block;
  margin: 1em;
  clear: both;
  button {
    width: 100%;
  }
}
.right {
  float: right;
}

@media (max-width: 768px) {
  html{
    font-size: 1em;
  }
}
